<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- <h2 class="section-heading">MK 2016</h2>
                <hr class="light"> -->
                <p class="text-faded">Od prvého nádychu do posledného výdychu je život človeka boj.
        				O čo v tomto boji ide? Len o to, aby bol ten posledný výdych čo najďalej od prvého nádychu?
        				Sme presvedčení, že žiť znamená viac ako len udržiavať životné funkcie. Úlohou každého z nás, je využiť nám vymeraný čas na to, aby sme našli zdroj života. Aby sme našli stratenú cestu k Otcovi, aby sme získali večnosť! Len vtedy nájde človek ozajstné naplnenie a spokojne dodýcha.
        				Uveriť dobrej správe a nájsť Život v Ježišovi Kristovi je ten najdôležitejší životný zápas, je to BOJ O ŽIVOT!<br>
        				Ak potrebuješ v tomto boji povzbudiť, príď na MK 2015. Ak chceš v tomto boji efektívnejšie pomáhať druhým, príď na MK 2015. Ak sa ti (už) bojovať nechce, aj tak príď na MK 2015! V tomto boji ide predsa o veľa! <strong>Je to BOJ O ŽIVOT</strong>.<br><br>
        				<br>
              </p>
              <a href="#" class="btn btn-default btn-xl wow tada">Chcem ísť!!</a>
            </div>
        </div>
    </div>
</section>
