<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- <h2 class="section-heading">MK 2017</h2> -->
                <!-- <hr class="light"> -->
                <div class="video-container">
                    <iframe width="800" src="http://stream.nasleduj.sk" frameborder="0" allowfullscreen></iframe>
                </div>

                <br /><br /><br />
                <p class="text-faded">Dnes je ten deň.
                <br /><br />
                Srdce mi bije, ako by som práve zabehla sto metrov. Napriek tomu stojím bez pohnutia.
                Ešte posledné úpravy. Čakám na povel. Konečne zaznie hudba. Dvere sa otvárajú. Na druhom konci zazriem Jeho
                ako ma čaká v nádhernom obleku a zamrazí ma. Tak toto je tá chvíľa. Toto je tá chvíľa.
                <br /><br />
                Všetci sa otáčajú a naťahujú krky. Celé zhromaždenie naraz povstáva. Všetci sa pozerajú na mňa ako
                kráčam smerom k Nemu. Ako kráčam za Ním. Uvedomujem si, že som krásna pretože som Jeho. Hlavou mi
                prebehne spomienka na deň, keď sme sa spoznali a na sekundu uvažujem aké to  bude o 20 rokov.
                Už budem navždy jeho nevestou. Navždy iba Jeho.
                <br /><br />
                Na Jeho tvári vidím obrovskú radosť. Keby som tak mala nejaký ovládač, ktorým by som mohla túto scénu
                zastaviť. Iba na chvíľku, iba na okamih, aby som si ju mohla vryť do pamäti. Chcem si vychutnať každú sekundu.
                Každý moment tohto dňa. Túžim po tom, aby sa každý detail tejto chvíle mohol vryť do mojej mysle
                a pripomínať mi ju v dňoch keď mi bude ťažko. Nikdy si nechcem nechať ukradnúť to, čo dnes cítim.
                Dnes to už nie je len môj priateľ. Dnes je môj svadobný deň. Dnes budem konečne v náručí svojho ženícha.
                <br /><br />
                Áno beriem</p>

              <a href="#form" class="btn btn-default btn-xl wow tada page-scroll">Yes I do</a>
            </div>
        </div>
    </div>
</section>
