<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- <h2 class="section-heading">MK 2016</h2>
                <hr class="light"> -->
                <p class="text-faded">Keď niečo povie Vladimír Putin či Barack Obama, <br />
                má to iné dôsledky, ako keď sa vyjadrí Jožko Kapor.<br />
                <br />
                Ak je však Jožko Kapor tvoja životná láska a práve sa ťa opýtal, <br />či si ho vezmeš za muža, je to sila.<br />
                No keď prehovorí <strong>Boh</strong>, všetky ľudské slová sa strácajú v novom časo-priestore, ktorý tvorí.
                <br /><br />
                Tvoje slovo má silu. Dokáže búrať, ničiť, ale aj budovať a povzbudzovať!
                Keď sa však večné <strong>SLOVO</strong> stalo telom, boli dejiny ľudstva navždy zmenené.
                <br /><br />Existuje súvis medzi tvojim slovom a týmto SLOVOM?
                <br />Si súčasťou príbehu. Aj ty si slovom...
        				<br />
              </p>
              <a href="#form" class="btn btn-default btn-xl wow tada page-scroll">Povedal KTO?!</a>
            </div>
        </div>
    </div>
</section>
