<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ozvi sa nám!</h2>
                <hr class="primary">
                <p>Potrebuješ vybaviť vekovú výnimku, pômocť s niečím alebo máš otázky? <br /> Neváhaj nám napísať alebo zavolať a pokúsime sa pomôcť!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <br />
          0905 595087 <br />
          0904 583330 <br />
          0907 731428
        </div>

        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>

        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>

    </div>
</section>
