<section id="form">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Registrácia</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <asp:ContentPlaceHolder id="RegistrationBody" runat="server"></asp:ContentPlaceHolder> -->
            </div>
        </div>
    </div>
</section>

<a href="https://www.youtube.com/user/GrooveHubOnline" target="_blank">
<div id="groovehub-banner" class="banner">
  <div class="text-bottom">
  </div>
</div>
</a>
