<section class="bg-dark" id="form">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Registrácia</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
    <div class="container">
        <div class="row">
            <iframe class="visible-lg visible-md visible-sm" src="http://158.195.218.160:8080" width="100%" id="registracia" frameborder="0"></iframe>
        </div>
        <div class="row visible-xs">
            <div class="col-lg-12 text-center">
                <p class="text-faded">Registrácia je možná iba na väčších zariadeniach.</p>
            </div>
        </div>
    </div>
</section>
