<section id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Dôležité Info</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary"></i>
                    <h3>Dátum</h3>
                    <p class="text-muted">16.- 18. marec 2018</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Miesto</h3>
                    <p class="text-muted">Filozofická fakulta Univerzity Mateja Bela, Banská Bystrica</p>
                    <br />
                    <p class="text-faded"><a href="#map" class="btn btn-primary wow page-scroll">mapa</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-eur wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Cena</h3>
                    <p class="text-muted">
                      <strong>4€</strong> do 31.12 <small>(vrátane)</small><br>
                      <strong>8€</strong> do 31.01 <small>(vrátane)</small><br>
            				  <strong>12€</strong> do 15.02 <small>(vrátane)</small><br>
                      <strong>16€ na mieste</strong><br/ >
                      <small>6€ vstup na jeden večer (piatok/sobota)</small><br>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Pomôž</h3>
                    <p class="text-muted">Prihlás sa ako dobrovoľník a dostaneš tričko zdarma</p>
                    <br />
                    <p class="text-faded"><a href="#volunteering" class="btn btn-primary wow page-scroll">dobrovoľníctvo</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
