<section id="program" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Program</h2>
        <hr class="dark">
        <p>Aj túto konferu máme pre teba pripravený super program! Jednotlivé témy a workshopy budeme pridávať <a href="{{ site.facebook }}" target="_blank" class="social">sem (<span class="social fa fa-facebook"></span>)</a>, tak pozorne sleduj naše príspevky.</p>


<div class="text-with-image pic-left col-xs-12">
<img src="img/seminars/speakers/mtobak.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
<div class="col-sm-9 col-xs-12"><p>
<span class="seminar-title">Ježišove napomenutia pre bohatých</span><br />
Miloš mtobak<br />
<br />
Pár jednoduchých slov o tom ako vyzerá bohatstvo ktoré sa stretlo s Kristom.<p></div></div>

<div class="text-with-image pic-left col-xs-12">
<img src="img/seminars/speakers/mtobak.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
<div class="col-sm-9 col-xs-12"><p>
<span class="seminar-title">Čo to máš v ruke?</span><br />
Pali Mrština<br />
<br />
Hospodin sa spýtal a Mojžiš odpovedal: Palicu. Po prekonaní pochybností - vierou a poslušnosťou - sa stáva obyčajný predmet v ruke Božieho služobníka "nástrojom" sprevádzajúcim záchranu národa i "zbraňou" spoluúčinkujúcou pri porážke armád.<br />
A čo máš v ruke ty ?<br />
Inšpirovaní biblickými postavami budeme hľadať ako každodenné veci a viera môžu zmeniť naše vzťahy aj život.<br />
<br />
O autorovi: Ukecaný vedúci popradskej mládeže.<p>
</div></div>

<div class="text-with-image pic-left col-xs-12">
<img src="img/seminars/speakers/mtobak.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
<div class="col-sm-9 col-xs-12"><p>
<span class="seminar-title">Moje reakcie na stres</span><br />
Marek Sonoga<br />
<br />
Môžem žiť bez stresu ? Asi nie.<br />
Ak teda nie, ako reagujem na stresovú situáciu ?<br />
<br />
O autorovi: Misijný pracovník BJB v Poprade.<p></div></div>


<div class="text-with-image pic-left col-xs-12">
<img src="img/seminars/speakers/mtobak.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
<div class="col-sm-9 col-xs-12"><p>
<span class="seminar-title">Inšpirácia Biblie</span><br />
Martin Tobák<br />
<br />
Ako vieme, že Biblia je inšpirovaná?<br />
Predstavuje Biblia sama seba ako dôveryhodný zdroj?<br />
Aké sú dôkazy, že Biblia je inšpirovaná?<br />
Prečo veríte, že Biblia je inšpirovaná?<br />
<br />
O autorovi: Kazateľ BJB Nesvady<p></div>
</div>


<div class="text-with-image pic-left col-xs-12">
  <img src="img/seminars/speakers/mtobak.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
  <div class="col-sm-9 col-xs-12">
    <p>
      <span class="seminar-title">Vstal Ježiš z mŕtvych?</span><br />
      Richard Nagypal<br />
      <br />
      Ak Ježiš vstal z mŕtvych, potom musíme prijať všetko čo hovoril. Ak nevstal, tak načo sa ním vôbec zaoberať? Otázka, na ktorej všetko stojí nie je či sa nám Ježiš páči alebo nie, či je múdry, alebo nie, ale či vstal z mŕtvych. Na tomto seminári budeme hovoriť o historických dôkazoch pre centrálnu udalosť kresťanskej viery - vzkriesenie Ježiša z Nazaretu.<br />
      <br />
      O autorovi: Študujúci teológ. Tvorca diskusii a priestoru pre dialóg. Zakladateľ projektu Animans. Kresťan so snahou porozumieť Bohu vo svete a svetu vo svetle Boha.
    <p>
  </div>
</div>


<div class="text-with-image pic-left col-xs-12">
  <img src="img/seminars/speakers/mtobak.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
  <div class="col-sm-9 col-xs-12">
    <p>
      <span class="seminar-title">Viera a duševné zdravie</span><br />
      Michal Patarák<br />
      <br />
      Duševné zdravie je klinicky ťažko uchopiteľný termín. Je skôr dejom, procesom, akousi dynamikou, než jasne opísateľným stavom. Jeho analýza, i keď nie jednoduchá, má však zmysel i mimo pole psychiatrie. Zaujímavá je otázka prieniku viery a duševného zdravia a s ňou súvisiace problémy duševných porúch u veriaceho človeka, ich modifikovaného priebehu, či dokonca genézy duševných porúch pri nesprávne chápaných a patologických formách viery. Seminár by mal prispeiť k destigmatizácii duševných porúch vo veriacom a cirkevnom prostredí.<br />
      <br />
      O autorovi: Psychiater a ašpirant na neuropsychiatriu. Na fakulte Zdravotníctva SZU vyučuje odbor psychiatria. Zaoberá sa závislosťami, etickými súvislosťami psychiatrie, ľudskou sexualitou a hraničnými neuropsychiatrickými stavmi.
    <p>
  </div>
</div>


<div class="text-with-image pic-left col-xs-12">
<img src="img/seminars/speakers/mtobak.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
<div class="col-sm-9 col-xs-12"><p>
<span class="seminar-title">Poznaj, Miluj, Ži</span><br />
Katka Azorová<br />
<br />Všade okolo nás je kopa rád a návodov ako sa stať úspešnou a dokonalou ženou. Vyskúšala si už niektoré? Poznáš úspech a neúspech? Zaujíma ťa čo znamená byť úspešnou ženou v Božích očiach? Ak áno, príď na workshop Poznaj, Miluj, Ži a podebatíme o tom.<br />
<br />
O autorke: Žienka pracujúca aj domáca, matka a kamarátka, ktorá sa snaží nájsť zmysel a rovnováhu vo všetkých rolách, čo jej Boh dal.<p></div></div>


<div class="text-with-image pic-left col-xs-12">
<img src="img/seminars/speakers/mtobak.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
<div class="col-sm-9 col-xs-12"><p>
Rasťo Majer<p></div>
</div>



<div class="text-with-image pic-left col-xs-12">
<img src="img/seminars/speakers/mtobak.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
<div class="col-sm-9 col-xs-12"><p>
Danka Hanesová<p></div>
</div>


<div class="text-with-image pic-left col-xs-12">
<img src="img/seminars/speakers/mtobak.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
<div class="col-sm-9 col-xs-12"><p>
Marek Macák<p></div>
</div>



      </div>
    </div>
  </div>
</section>

<!-- {% include seminars.html %} -->


<div id="hero-banner" class="banner">
  <div class="text-bottom">
    <a href="http://heroband.eu" class="btn btn-default wow" target="_blank">
      Stránka kapely
    </a>
  </div>
</div>
<div id="musical-banner" class="banner">
  <div class="text-bottom">
    <a class="btn btn-default wow">
      Sobota večer [hlavný stage]
    </a>
  </div>
</div>
