<section id="program" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Program</h2>
        <hr class="dark">
        <p>Aj túto konferu máme pre teba pripravený super program! Jednotlivé témy a workshopy budeme pridávať <a href="{{ site.facebook }}" target="_blank" class="social">sem (<span class="social fa fa-facebook"></span>)</a>, tak pozorne sleduj naše príspevky.</p>
      </div>
    </div>
  </div>
</section>
