<section id="program" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Program</h2>
        <hr class="dark">
        <p>Aj túto konferu máme pre teba pripravený super program! Hlavné témy i môžeš pozrieť nižšie, ďalšie info budeme pridávať <a href="{{ site.facebook }}" target="_blank" class="social">sem (<span class="social fa fa-facebook"></span>)</a>, tak pozorne sleduj naše príspevky.</p>

        <br />
        <h3>Rečníci</h3>
        <hr class="dark">

        <div class="text-with-image pic-left col-xs-12">
        <img src="img/program/slacho.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
          <div class="col-sm-9 col-xs-12"><p>
            Samo Lacho / piatok večer<br />
            <br />
            Cirkev je krásna Kristova nevesta – tak ju predstavuje Písmo a Boh tak naozaj vidí.  What? Veď sa len nepretvarujme: Čo sa vám vybaví, keď premýšľate o Cirkvi. Buďme úprimní. Väčšina z nás, si najskôr nepredstaví krásu nevestu. Vybaví sa nám konkrétny kostol, rozhádaní členovia, ktorý sa nevedia pozdraviť, komunistický kňaz, alebo nejaký škandál z telky. Cirkev nie je niečo, na čo by sme boli obzvlášť hrdí. Ale možno by sa to všetko zmenilo, keby sme sa na Cirkev pozreli z Božieho pohľadu. A čo ak je možné sa do Cirkvi v takomto stave úprimne zamilovať a tešiť sa z nej?
          </div>
        </div>

        <div class="text-with-image pic-left col-xs-12">
        <img src="img/program/buhrin.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
          <div class="col-sm-9 col-xs-12"><p>
            Ben Uhrin / sobota ráno<br />
            <br />
            Ježiš založil Cirkev ktorá sa rozšírila do celého sveta. Sú v nej kresťania zo všetkých kontinentov, všetkých generácií aj rás aj typov osobností. Platí v Cirkvi, že "one size fits all" (jedna veľkosť pasuje všetkým)? A čo ak ti Cirkev nepasuje a nehodíš sa do nej? Čo sa v Cirkvi musí diať, aby bola Cirkvou Kristovou a čo sa musí meniť, aby bola Cirkvou živou, aktuálnou  a efektívnou? Cirkev Kristova, aj moja.
          </div>
        </div>

        <div class="text-with-image pic-left col-xs-12">
        <img src="img/program/jmahrik.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
          <div class="col-sm-9 col-xs-12"><p>
            Janči Máhrik / sobota večer<br />
            <br />
            “Verím v Boha, ale v cirkev nie!” Koľkokrát si už počul/a túto vetu alebo jej obdobu? Ja veľa krát. Naozaj je to tak? Dá sa veriť v Biblikého Boha a cieľavedome nebyť súčasťou cirkvi? Áno, s cirkvou je to častokrát zložité. Dá sa však byť prijatý Kristom a pritom neprijať cirkev?
          </div>
        </div>

        <div class="text-with-image pic-left col-xs-12">
        <img src="img/program/rnagypal.jpg" class="img-responsive col-sm-3 col-xs-12" alt="" />
          <div class="col-sm-9 col-xs-12"><p>
            Rišo Nagypál / nedeľa ráno<br />
            <br />
            Bol si pozvaný do mesta na vrchu. Do mesta, ktoré nemôže byť skryté. Do mesta, ktorého ulice niekedy pripomínajú vznešený New York a niekedy africkú biedu. Každý kresťan tu býva. Nie je to hotel, ale domov. Bývajú tu skúsení starci aj nadšení mladíci, umelci aj filozofi, murári aj politici. Každý má svoje poslanie. Každý dostal obdarovanie svojou troškou mesto budovať a každý si vyberá mieru svojho zapojenia a aktívity. Toto mesto nie je dokonalé. Miestami pripomína skôr nemocnicu v ktorej nikto nie je úplne zdravý. Avšak všetkých občanov spája jedno – láska ku kráľovi, ktorý mesto založil. Túžba poznať ho je to, čo spája jednoduchých aj zložitých, starých aj mladých. Bol si pozvaný do mesta na vrchu. 
          </div>
        </div>

        <br />

      </div>
    </div>
  </div>
</section>
