<section class="no-padding" id="seminars">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/seminars/seminars-bg-dark.png" class="img-responsive" alt="">
                    <div onclick="" class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <p>
                          Pár jednoduchých slov o tom ako vyzerá bohatstvo ktoré sa stretlo s Kristom.
                        </p>
                      </div>
                    </div>
                    <div onclick="" class="portfolio-box-caption portfolio-box-caption-permanent">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Ježišove napomenutia pre bohatých
                        </div>
                        <div class="project-name">
                          Miloš Masarik
                        </div>
                      </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/seminars/seminars-bg-dark-light.png" class="img-responsive" alt="">
                    <div onclick="" class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <p>
                            Hospodin sa spýtal a Mojžiš odpovedal: Palicu. Po prekonaní pochybností - vierou a poslušnosťou - sa stáva obyčajný predmet v ruke Božieho služobníka "nástrojom" sprevádzajúcim záchranu národa i "zbraňou" spoluúčinkujúcou pri porážke armád.<br />
                            A čo máš v ruke ty ?<br />
                            Inšpirovaní biblickými postavami budeme hľadať ako každodenné veci a viera môžu zmeniť naše vzťahy aj život.<br /><br />
                            O autorovi: 
                        </p>
                      </div>
                    </div>
                    <div onclick="" class="portfolio-box-caption portfolio-box-caption-permanent">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Čo to máš v ruke?
                        </div>
                        <div class="project-name">
                          Pali Mrština
                        </div>
                      </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/seminars/seminars-bg-dark.png" class="img-responsive" alt="">
                    <div onclick="" class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <p>
                            Môžem žiť bez stresu ? Asi nie.<br />
                            Ak teda nie, ako reagujem na stresovú situáciu ?<br /><br />
                            O autorovi: Misijný pracovník BJB v Poprade.<br />
                        </p>
                      </div>
                    </div>
                    <div onclick="" class="portfolio-box-caption portfolio-box-caption-permanent">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Moje reakcie na stres
                        </div>
                        <div class="project-name">
                          Marek Sonoga
                        </div>
                      </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/seminars/seminars-bg-dark-light.png" class="img-responsive" alt="">
                    <div onclick="" class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <p>
                          Ako vieme, že Biblia je inšpirovaná?<br />
                          Predstavuje Biblia sama seba ako dôveryhodný zdroj?<br />
                          Aké sú dôkazy, že Biblia je inšpirovaná?<br />
                          Prečo veríte, že Biblia je inšpirovaná?<br /><br />
                          O autorovi: Kazateľ BJB Nesvady<br />
                        </p>
                      </div>
                    </div>
                    <div onclick="" class="portfolio-box-caption portfolio-box-caption-permanent">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Inšpirácia Biblie
                        </div>
                        <div class="project-name">
                          Martin Tobák
                        </div>
                      </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/seminars/seminars-bg-dark.png" class="img-responsive" alt="">
                    <div onclick="" class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <p>
                            Ak Ježiš vstal z mŕtvych, potom musíme prijať všetko čo hovoril. Ak nevstal, tak načo sa ním vôbec zaoberať? Otázka, na ktorej všetko stojí nie je či sa nám Ježiš páči alebo nie, či je múdry, alebo nie, ale či vstal z mŕtvych. Na tomto seminári budeme hovoriť o historických dôkazoch pre centrálnu udalosť kresťanskej viery - vzkriesenie Ježiša z Nazaretu. <br /><br />
                            O autorovi: Študujúci teológ. Tvorca diskusii a priestoru pre dialóg. Zakladateľ projektu Animans. Kresťan so snahou porozumieť Bohu vo svete a svetu vo svetle Boha. <br />
                        </p>
                      </div>
                    </div>
                    <div onclick="" class="portfolio-box-caption portfolio-box-caption-permanent">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Vstal Ježiš z mŕtvych?
                        </div>
                        <div class="project-name">
                          Richard Nagypal
                        </div>
                      </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/seminars/seminars-bg-dark-light.png" class="img-responsive" alt="">
                    <div onclick="" class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <p>
                            Duševné zdravie je klinicky ťažko uchopiteľný termín. Je skôr dejom, procesom, akousi dynamikou, než jasne opísateľným stavom. Jeho analýza, i keď nie jednoduchá, má však zmysel i mimo pole psychiatrie. Zaujímavá je otázka prieniku viery a duševného zdravia a s ňou súvisiace problémy duševných porúch u veriaceho človeka, ich modifikovaného priebehu, či dokonca genézy duševných porúch pri nesprávne chápaných a patologických formách viery. Seminár by mal prispeiť k destigmatizácii duševných porúch vo veriacom a cirkevnom prostredí. <br /><br />
                            O autorovi: Psychiater a ašpirant na neuropsychiatriu. Na fakulte Zdravotníctva SZU vyučuje odbor psychiatria. Zaoberá sa závislosťami, etickými súvislosťami psychiatrie, ľudskou sexualitou a hraničnými neuropsychiatrickými stavmi.<br />
                        </p>
                      </div>
                    </div>
                    <div onclick="" class="portfolio-box-caption portfolio-box-caption-permanent">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Viera a duševné zdravie
                        </div>
                        <div class="project-name">
                          Michal Patarák
                        </div>
                      </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/seminars/seminars-bg-dark.png" class="img-responsive" alt="">
                    <div onclick="" class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <p>
                            Všade okolo nás je kopa rád a návodov ako sa stať úspešnou a dokonalou ženou. Vyskúšala si už niektoré? Poznáš úspech a neúspech? Zaujíma ťa čo znamená byť úspešnou ženou v Božích očiach? Ak áno, príď na workshop Poznaj, Miluj, Ži a podebatíme o tom.<br /><br />
                            O autorovi: Žienka pracujúca aj domáca, matka a kamarátka, ktorá sa snaží nájsť zmysel a rovnováhu vo všetkých rolách, čo jej Boh dal.
                        </p>
                      </div>
                    </div>
                    <div onclick="" class="portfolio-box-caption portfolio-box-caption-permanent">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Poznaj, Miluj, Ži
                        </div>
                        <div class="project-name">
                          Katka Azorová
                        </div>
                      </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/seminars/seminars-bg-dark-light.png" class="img-responsive" alt="">
                    <div onclick="" class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <p>
                          Ako vieme, že Biblia je inšpirovaná?<br />
                          Predstavuje Biblia sama seba ako dôveryhodný zdroj?<br />
                          Aké sú dôkazy, že Biblia je inšpirovaná?<br />
                          Prečo veríte, že Biblia je inšpirovaná?<br /><br />
                          O autorovi: Kazateľ BJB Nesvady<br />
                        </p>
                      </div>
                    </div>
                    <div onclick="" class="portfolio-box-caption portfolio-box-caption-permanent">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          ???
                        </div>
                        <div class="project-name">
                          Rasťo Majer
                        </div>
                      </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/seminars/seminars-bg-dark.png" class="img-responsive" alt="">
                    <div onclick="" class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <p>
                          Ako vieme, že Biblia je inšpirovaná?<br />
                          Predstavuje Biblia sama seba ako dôveryhodný zdroj?<br />
                          Aké sú dôkazy, že Biblia je inšpirovaná?<br />
                          Prečo veríte, že Biblia je inšpirovaná?<br /><br />
                          O autorovi: Kazateľ BJB Nesvady<br />
                        </p>
                      </div>
                    </div>
                    <div onclick="" class="portfolio-box-caption portfolio-box-caption-permanent">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          ???
                        </div>
                        <div class="project-name">
                          Danka Hanesová
                        </div>
                      </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/seminars/seminars-bg-dark-light.png" class="img-responsive" alt="">
                    <div onclick="" class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <p>
                          Ako vieme, že Biblia je inšpirovaná?<br />
                          Predstavuje Biblia sama seba ako dôveryhodný zdroj?<br />
                          Aké sú dôkazy, že Biblia je inšpirovaná?<br />
                          Prečo veríte, že Biblia je inšpirovaná?<br /><br />
                          O autorovi: Kazateľ BJB Nesvady<br />
                        </p>
                      </div>
                    </div>
                    <div onclick="" class="portfolio-box-caption portfolio-box-caption-permanent">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          ???
                        </div>
                        <div class="project-name">
                          Marek Macák
                        </div>
                      </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/seminars/seminars-bg-dark.png" class="img-responsive" alt="">
                    <div onclick="" class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <p>
                          Ako vieme, že Biblia je inšpirovaná?<br />
                          Predstavuje Biblia sama seba ako dôveryhodný zdroj?<br />
                          Aké sú dôkazy, že Biblia je inšpirovaná?<br />
                          Prečo veríte, že Biblia je inšpirovaná?<br /><br />
                          O autorovi: Kazateľ BJB Nesvady<br />
                        </p>
                      </div>
                    </div>
                    <div onclick="" class="portfolio-box-caption portfolio-box-caption-permanent">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          ???
                        </div>
                        <div class="project-name">
                          Viki Šoltésová
                        </div>
                      </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
