<section id="sponsoring">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Sponzoring</h2>
        <hr class="dark">
        <p>Milí mládežník, obraciame sa na Vás s prosbou o pomoc pri zabezpečení MK 2016.<br />
          Chceli by sme Vás poprosiť o to, aby ste túto konferenciu podporili modlitebne, no tiež aby ste nám pomohli finančne.
          <br /><br />
          Konkrétne by sme Vás chceli poprosiť o pomoc s úhradou výdajov, ktoré súvisia s podporou slúžiacich (strava, ubytovanie, cestovné) a so zabezpečením externých služieb počas konferencie (médiá, externí pracovníci).
          <br /><br />
          Zvážte, prosím, na modlitbách túto prosbu.<br />
          Váš team MK2016
          <br /><br />
          Konferenciu je možné podporiť priamo sponzorským príspevkom na účet <strong>mBank</strong>.
          <br />
          Číslo účtu: <strong><em>4202778310/8360</em></strong> (mBank)<br />
          Konštantný symbol: <strong><em>0558</em></strong> (Finančné platby ostatné)<br />
          Variabilný symbol: <strong><em>333</em></strong><br />
          Účel platby: (je možné uviesť meno darcu)<br />
          <br /><br />
          Sponzorský príspevok je tiež možné pridať ako čiastku naviac pri prihlasovaní sa na konferenciu, v prihláške je na to samostatná kolónka.
          <br>
        </p>
      </div>
    </div>
  </div>
</section>
