<section id="volunteering" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Dobrovoľníctvo</h2>
        <hr class="dark">
        <p class="text-faded">
          Mládežnícka konferencia je tu opäť!!!<br /><br />
          Prípravu sme začali už po lete, pracujeme na tom, aby aj MK 016 bola pre mnohým požehnaným časom, časom stretnutia sa s priateľmi, ale hlavne vzácnym časom s Bohom. Príprava je v plnom prúde, mnohí majú svoje práce a služby už zadelené, no vieme aj to, že potrebujeme ešte ďalších dobrovoľníkov.
 <br /><br />
Bez Vás by to bolo dosť ťažké a namáhavé.
 <br /><br />
Minulý rok ste boli skvelí a veľmi ste nám pomohli a veríme tomu, že aj Vy ste mali skvelý čas.
 <br /><br />
Byt dobrovoľníkom je nielen práca a žiadna zábava. Je to čas, keď spoznáte veľa nových ľudí a  prehĺbite vzťahy s kamarátmi, ktorých ste cely rok nevideli.
Ale hlavne pamätajme, že toto všetko robíme pre Nášho Pána. A jedine On vidí do nášho srdca a Pán si Vás môže použiť pri ktorejkoľvek službe či rozhovore.
<br /><br />
Ďakujeme, že ste sa rozhodli slúžiť na MK 016 ako dobrovoľníci.
 <br /><br />
<q>Čokoľvek ste urobili jednému z týchto mojich, mne ste urobili.</q> <strong>Matúš 25:40</strong
<br /><br />
        </p>
      </div>
    </div>
  </div>
</section>
