#schedule {
  padding: 15px 0;
  transition: padding 1.5s ease;
  -moz-transition: padding 1.5s ease;
  -webkit-transition: padding 1.5s ease;

  @media screen and (min-width:600px) {
    padding: 40px 0;
  }

  @media screen and (min-width:800px) {
    padding: 100px 0;
  }
}

.day {
  background-color: #f0f0f0;
  margin-bottom: 15px;
  padding: 12px;

  h3 {
    border-bottom: 1px solid #a2a2a2;
  }

  .item {
    padding-bottom: 20px;
  }
}
