.text-small {
  font-size: 0.9em;
}

/**
 * Navigation.
 */
.navbar-default {
  background: rgba(255, 255, 255, 1);

  .navbar-nav {
    a.page-scroll {
      color: $theme-dark;

      &:hover {
        color: rgba($theme-primary, 0.4);
      }
    }
  }
}

#mainNav .social {
  font-size: 2.1em;
	margin: 8px 0 0 20px;
  text-decoration: none;

  &:hover {
		text-decoration: none;
	}
}

.fa-youtube-play {
  color: #bb0000;
}

/**
 * Initial opening content - video etc.
 */
 header {
  background-image: none;
  background-color: $theme-dark;

  .header-content {
    background-image: none;
    background-color: #001437;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;

    @media (min-width: 768px) {

    }

    .header-content-inner {
      height: 140px;
      width: 100%;
      background-image: url(../img/header.png);
      background-position: center;
      margin: 60px auto 0;
      background-size: cover;

      @media (min-width: 450px) {
        height: 170px;
      }

      @media (min-width: 628px) {
        height: 227px;
      }

      @media (min-width: 768px) {
        height: 347px;
      }
    }
  }
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/**
 * Portfolio images.
 */
.portfolio-box .portfolio-box-caption {
  background: rgba($theme-primary, 0.8);
}

.portfolio-box .portfolio-box-caption .text-faded {
  font-size: 2em !important;
}
/**
 * Registration.
 */
#registracia {
  min-height: 600px;
}

/**
 * Program.
 */
.banner {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: white;

  .text-bottom {
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-bottom: 14px;

    a {
      margin: 0 auto;
    }
  }
}

/* Seminars */
.portfolio-box-caption-permanent {
  opacity: 1 !important;
  background: transparent !important;
}

.portfolio-box {
  &:hover {
    .portfolio-box-caption-permanent {
      opacity: 0 !important;
    }
  }
}

#program {
  .seminar-title {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
  }
  .text-small {
    font-size: 1em !important;
  }

  .text-with-image {
    margin-top: 35px;
  }

  .pic-left {
    text-align: left;

    img {
      float: left;
      margin-bottom: 10px;
    }
  }

  .pic-right {
    text-align: right;

    img {
      float: right;
    }
  }
}

//#hero-banner {
//  background-image: url("../img/hero-banner.jpg");
//  min-height: 32%;
//}
//
// #musical-banner {
//  background-image: url("../img/dobaladova-banner.jpg");
//  min-height: 42%;
// }
#groovehub-banner {
 background-image: url("../img/groovehub-banner.jpg");
 min-height: 40%;
}

.portfolio-box.speaker-box {
  max-width: none;
}

/**
 * Contact.
 */
#contact {
  padding-bottom: 30px;
	.facebook
		p {
			font-size: 1em;
			word-wrap: break-word;
		}
	.email
	 	p {
		font-size: 1em;
	}
}

/**
 * Map.
 */
 #map {
   padding: 0 0;
 }
 .map-container {
   position: relative;
   padding-bottom: 30%;
   padding-top: 120px;
   height: 0;
   overflow: hidden;
 }

 .map-container iframe,
 .map-container object,
 .map-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }
